In [67]:
import pandas as pd

In [68]:
df = pd.DataFrame([[15.490, 12.005, 17.011, 26.978, 30.322, 35.533, 42.815, 49.340, 63.682, 67.166, 77.639, 93.207, 112.263, 150.139, 170.401, 178.902, 185.067, 163.199, 171.849, 169.651, 181.110],
      [5.97, 7.67, 12.53, 9.30, 7.60, 5.69, 3.14, 4.46, 5.90, 4.31, 5.91, 6.50, 5.84, 5.91, 6.41, 10.67, 6.29, 2.95, 3.75, 4.31, 4.52]])
df = df.T

In [69]:
df.columns = ['Financiamento_Rural_Nominal', 'IPCA_acumulado']

In [70]:
df

    Financiamento_Rural_Nominal  IPCA_acumulado
0                        15.490            5.97
1                        12.005            7.67
2                        17.011           12.53
3                        26.978            9.30
4                        30.322            7.60
5                        35.533            5.69
6                        42.815            3.14
7                        49.340            4.46
8                        63.682            5.90
9                        67.166            4.31
10                       77.639            5.91
11                       93.207            6.50
12                      112.263            5.84
13                      150.139            5.91
14                      170.401            6.41
15                      178.902           10.67
16                      185.067            6.29
17                      163.199            2.95
18                      171.849            3.75
19                      169.651            4.31
20                      181.110            4.52

In [71]:
deflatores = []
for i in range(0, 21):

    deflatores.append(df['IPCA_acumulado'][i]+100)


df['Deflatores'] = deflatores

In [72]:
df

    Financiamento_Rural_Nominal  IPCA_acumulado  Deflatores
0                        15.490            5.97      105.97
1                        12.005            7.67      107.67
2                        17.011           12.53      112.53
3                        26.978            9.30      109.30
4                        30.322            7.60      107.60
5                        35.533            5.69      105.69
6                        42.815            3.14      103.14
7                        49.340            4.46      104.46
8                        63.682            5.90      105.90
9                        67.166            4.31      104.31
10                       77.639            5.91      105.91
11                       93.207            6.50      106.50
12                      112.263            5.84      105.84
13                      150.139            5.91      105.91
14                      170.401            6.41      106.41
15                      178.902           10.67      110.67
16                      185.067            6.29      106.29
17                      163.199            2.95      102.95
18                      171.849            3.75      103.75
19                      169.651            4.31      104.31
20                      181.110            4.52      104.52

In [73]:
deflatores = []
for i in range(0, 21):

    deflatores.append(df['IPCA_acumulado'][i]+100)

In [74]:
for i in range(1, 21):
   df['Deflatores'][i] = (1+(df['IPCA_acumulado'][i]/100))*df['Deflatores'][i -1]

In [77]:
deflator_2020 = df['Deflatores'][20]

In [80]:
valores_reais = []
for i in range(0, 21):
    valor_real = deflator_2020 * df['Financiamento_Rural_Nominal'][i] /  df['Deflatores'][i]
    valores_reais.append(valor_real) 
df['Valores_Reais'] = valores_reais

In [81]:
df

    Financiamento_Rural_Nominal  IPCA_acumulado  Deflatores  Valores_Reais
0                        15.490            5.97  105.970000      51.167921
1                        12.005            7.67  114.097899      36.831025
2                        17.011           12.53  128.394366      46.378123
3                        26.978            9.30  140.335042      67.293468
4                        30.322            7.60  151.000505      70.292459
5                        35.533            5.69  159.592434      77.937930
6                        42.815            3.14  164.603636      91.051229
7                        49.340            4.46  171.944958     100.447467
8                        63.682            5.90  182.089711     122.422312
9                        67.166            4.31  189.937777     123.784830
10                       77.639            5.91  201.163100     135.101728
11                       93.207            6.50  214.238701     152.292983
12                      112.263            5.84  226.750242     173.307826
13                      150.139            5.91  240.151181     218.845732
14                      170.401            6.41  255.544872     233.417954
15                      178.902           10.67  282.811509     221.435581
16                      185.067            6.29  300.600353     215.510675
17                      163.199            2.95  309.468064     184.599681
18                      171.849            3.75  321.073116     187.358049
19                      169.651            4.31  334.911367     177.319225
20                      181.110            4.52  350.049361     181.110000